#dialog {
    height: 100%;
    padding: 1 2;
}

Horizontal.button-row {
    width: 100%;
    align-horizontal: center;
    margin-top: 1;
    padding: 1 2;

}

.banner {
    dock: top;
    align: center middle;
    color: white;
    background: blue;
    height: 3;

}
.header {
    color: blue;
    background: black;
    height: 2;

}